canvas{
    width: 100%;
    height: 100%;
    background: rgb(19, 27, 6);

    
}
body, html {
height: 100%;
margin:0;
}
#a{
    background:rgb(19, 27, 6);
}
.shadow { 
    color: whitesmoke; 
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #093947, 
                 2px 2px #093947, 
                 3px 3px #fe4902;
 }
 .shadow:hover {
    position: relative; 
    top: -3px; 
    left: -3px;
    border: 0px;
    text-shadow: 1px 1px #943510, 
                 2px 2px #943510, 
                 3px 3px #943510, 
                 4px 4px #943510, 
                 5px 5px #943510, 
                 6px 6px #943510;
                 
 }